<!-- <div>
  <input
    type="text"
    class="form-control"
    id="my-filter"
    [(ngModel)]="searchInput"
    placeholder="enter your search keyword here"
    (ngModelChange)="changeOccured()"
    style="width: 87.5rem"
  />
</div> -->
<ag-grid-angular

  class="ag-theme-alpine-dark"
  style="width: 100%; height: 300px;  "
  
  [defaultColDef]="defaultColDef"


  [rowData]="myTabInstance.rowData"
  [columnDefs]="myTabInstance.columnDefs"

  
  [frameworkComponents]="frameworkComponents"
  [pagination]="true"
  [paginationPageSize]="4"
  
  (gridReady)="onGridReady1($event)"


>

</ag-grid-angular>


    <!-- 
  toolPanel="columns"

  sideBar="columns"
  defaultColDef=""  -->

  <!-- margin-top: 50px; -->

<!-- [rowData]="myTabInstance.rowData"
[columnDefs]="myTabInstance.columnDefs" -->

  <!-- [sideBar]="true" -->


<!-- <h1>{{ myTabInstance.test }}</h1> -->

<!-- enableSorting="true"
  enableFilter="true" -->
